.navigation{
    min-width: 1000px;
    display: flex;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content:space-between;
    margin: 0;
    /* position: relative; */
    border-radius: 5px;
}

.toggles{
    display: flex;
    gap: 6px;
}

.navigation_light{
    background-color: rgb(248, 247, 246);
}

.navigation_dark{
    background-color: rgb(88, 87, 87);
}

.select-dark.ant-select .ant-select-selector, .dropdown-dark {
    background-color: rgb(88, 87, 87);
    color: #ffffff;
    border-color: #555555;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    border: #cccccc solid 1px;
}
  
  .select-light.ant-select .ant-select-selector {
    background-color: rgb(248, 247, 246);
    color: #000000;

    padding: 8px;
    font-size: 12px;
    border: rgb(180, 180, 180) solid 1px;
}

  .switch-light.ant-switch-checked {
    background-color: rgb(240, 240, 240);
    border: 1px solid #b4abab;
    color: rgb(7, 4, 4)!important;
    }
  

.switch-text-light {
    color: black;
    font-weight: bold;
  }
  
  .switch-text-dark {
    color: white;
    font-style: italic;
  }

  .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    /* background-color: rgb(248, 247, 246); */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;}
